<a href="https://colab.research.google.com/github/nafsahmad/nafsahmad/blob/main/Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://dataincubator-challenge.s3.amazonaws.com/data-challenge-phoenix-service-calls/callsforsrvc2021.csv")
df.head(2)

,INCIDENT_NUM,DISP_CODE,DISPOSITION,FINAL_RADIO_CODE,FINAL_CALL_TYPE,CALL_RECEIVED,HUNDREDBLOCKADDR,GRID
0,202100000001,R,DEPARTMENTAL REPORT,245,AGGRAVATED ASSAULT,1/1/2021 12:00:06AM,27XX W MEDLOCK DR,BJ22
1,202100000015,N,NO ACTION REQUIRED,927,UNKNOWN TROUBLE,1/1/2021 12:01:03AM,25XX W GRANITE PASS RD,FI23

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668909 entries, 0 to 668908
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   INCIDENT_NUM      668909 non-null  int64
 1   DISP_CODE         668909 non-null  object
 2   DISPOSITION       668909 non-null  object
 3   FINAL_RADIO_CODE  668909 non-null  object
 4   FINAL_CALL_TYPE   667733 non-null  object
 5   CALL_RECEIVED     668909 non-null  object
 6   HUNDREDBLOCKADDR  668909 non-null  object
 7   GRID              635986 non-null  object
dtypes: int64(1), object(7)
memory usage: 40.8+ MB

In [4]:
df.FINAL_CALL_TYPE.str.count("ANIMALS").sum()

4208.0

In [5]:
df.describe(include="all")

,INCIDENT_NUM,DISP_CODE,DISPOSITION,FINAL_RADIO_CODE,FINAL_CALL_TYPE,CALL_RECEIVED,HUNDREDBLOCKADDR,GRID
count,6.689090e+05,668909,668909,668909,667733,668909,668909,635986
unique,NaN,6,6,356,351,661554,57140,1743
top,NaN,N,NO ACTION REQUIRED,418T,TRESPASSING,9/29/2021 11:52:20AM,17XX W BELL RD,CI22
freq,NaN,378690,378690,74702,74702,4,2105,3399
mean,2.021010e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.855968e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.021000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.021005e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.021010e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.021015e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.021020e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df["CALL_RECEIVED"] = pd.to_datetime(df["CALL_RECEIVED"])

In [ ]:
df["date"] = df["CALL_RECEIVED"].dt.date
df["time"] = df["CALL_RECEIVED"].dt.time

In [ ]:
df.head(2)

,INCIDENT_NUM,DISP_CODE,DISPOSITION,FINAL_RADIO_CODE,FINAL_CALL_TYPE,CALL_RECEIVED,HUNDREDBLOCKADDR,GRID,date,time
0,202100000001,R,DEPARTMENTAL REPORT,245,AGGRAVATED ASSAULT,2021-01-01 00:00:06,27XX W MEDLOCK DR,BJ22,2021-01-01,00:00:06
1,202100000015,N,NO ACTION REQUIRED,927,UNKNOWN TROUBLE,2021-01-01 00:01:03,25XX W GRANITE PASS RD,FI23,2021-01-01,00:01:03

In [ ]:
df2 = pd.read_csv("https://dataincubator-challenge.s3.amazonaws.com/data-challenge-phoenix-service-calls/phoenix_temperature_data.csv")
df2.head(2)

,High F,Low F,Prec/moinch,Prec/yrinch,Snow/moinch,Snow/yrinch,date
0,81.0,56.3,0.04,2.83,0.0,0.0,2021-04-01
1,81.3,56.5,0.04,2.83,0.0,0.0,2021-04-02

In [ ]:
merged = df.merge(df2, how="outer", on=["date"])

In [ ]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669274 entries, 0 to 669273
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   INCIDENT_NUM      668909 non-null  float64
 1   DISP_CODE         668909 non-null  object
 2   DISPOSITION       668909 non-null  object
 3   FINAL_RADIO_CODE  668909 non-null  object
 4   FINAL_CALL_TYPE   667733 non-null  object
 5   CALL_RECEIVED     668909 non-null  datetime64[ns]
 6   HUNDREDBLOCKADDR  668909 non-null  object
 7   GRID              635986 non-null  object
 8   date              669274 non-null  object
 9   time              668909 non-null  object
 10  High F            365 non-null     float64
 11  Low F             365 non-null     float64
 12  Prec/moinch       365 non-null     float64
 13  Prec/yrinch       365 non-null     float64
 14  Snow/moinch       365 non-null     float64
 15  Snow/yrinch       365 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 86.8+ MB

In [ ]:
merged.columns

Index(['INCIDENT_NUM', 'DISP_CODE', 'DISPOSITION', 'FINAL_RADIO_CODE',
       'FINAL_CALL_TYPE', 'CALL_RECEIVED', 'HUNDREDBLOCKADDR', 'GRID', 'date',
       'time', 'High F', 'Low F', 'Prec/moinch', 'Prec/yrinch', 'Snow/moinch',
       'Snow/yrinch'],
      dtype='object')

In [ ]:
merged['average_temp'] = (sum(merged['High F'], merged['Low F']))/2

In [ ]:
merged.head()

,INCIDENT_NUM,DISP_CODE,DISPOSITION,FINAL_RADIO_CODE,FINAL_CALL_TYPE,CALL_RECEIVED,HUNDREDBLOCKADDR,GRID,date,time,High F,Low F,Prec/moinch,Prec/yrinch,Snow/moinch,Snow/yrinch,average_temp
0,2.021000e+11,R,DEPARTMENTAL REPORT,245,AGGRAVATED ASSAULT,2021-01-01 00:00:06,27XX W MEDLOCK DR,BJ22,2021-01-01,00:00:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.021000e+11,N,NO ACTION REQUIRED,927,UNKNOWN TROUBLE,2021-01-01 00:01:03,25XX W GRANITE PASS RD,FI23,2021-01-01,00:01:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.021000e+11,N,NO ACTION REQUIRED,503,CITY ORDINANCE OFFENSE,2021-01-01 00:01:35,16XX E DARREL RD,AB31,2021-01-01,00:01:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.021000e+11,N,NO ACTION REQUIRED,459CX,BURGLARY COMMERCIAL ATTEMPT,2021-01-01 00:01:47,80XX N 43RD AVE,CF19,2021-01-01,00:01:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.021000e+11,N,NO ACTION REQUIRED,900,CHECK WELFARE,2021-01-01 00:02:01,44XX N 47TH DR,BH17,2021-01-01,00:02:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN